@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --unsaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --bright-blue: hsl(245, 75%, 52%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

body {
  position: relative;
  background-color: var(--pale-blue);
  min-height: 100vh;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

.big__img {
  background: url(images/pattern-background-mobile.svg) no-repeat center/cover;
  height: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .big__img {
    background: url(images/pattern-background-desktop.svg) no-repeat
      center/cover;
    height: 50vh;
  }
 
}

.container {
  text-align: center;
  align-items: center;
  background-color: #fff;
  width: 75%;
  margin: 5rem auto;
  border-radius: 1.5rem;
  padding-bottom: 2rem;

}

.header img {
  width: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

h1 {
  font-weight: 900;
  margin: 1.5rem;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  color:var(--dark-blue);
}

p {
  color: var(--unsaturated-blue);
  text-align: center;
  padding: 0.75rem;
  width: 60%;
  margin: 1.5rem auto;
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-pale-blue);
  width: 90%;
  margin: 1.75rem auto;
  padding: 0.9rem;
}

.pricing{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: 700;
  color: black;
  font-size: 1.25rem;
}

.proceed-btn {
  color: white;
  display: block;
  background-color: var(--bright-blue);
  width: 90%;
  justify-content: center;
  margin: 25px auto;
  padding: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.cancel-btn{
  color: var(--bright-blue);
  text-decoration: none;
  margin: 2.0rem auto;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: bold;

}

.cancel-btn , .proceed-btn:hover{
  color:var(--dark-blue);
  opacity: 0.8;
}